<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".Activity.ContactSync"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".Activity.PermissionUtil.PermissionsActivity"
            android:theme="@style/Theme.Transparent" />
        <!--    <service
                android:name=".Activity.service.ContactService"
                android:enabled="true"
                android:exported="false"/>-->
        <!-- <receiver android:name=".Activity.service.StartupRecevier"
             android:exported="true">
             <intent-filter>
                 <action android:name="android.intent.action.BOOT_COMPLETED" />
             </intent-filter>
         </receiver>-->
    </application>

</manifest>